/*제품 스드메제품 보기 전체css*/
.board-list {
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--main2);
  margin: 0 auto;
  align-self: center;
}
.board-list > .page-title {
  padding: 30px 30px;
  font-family: ns-b;
  justify-content: center;
}

.board-list > .page-title > ul {
  display: flex;
  text-align: center;
}

.board-list > .page-title > ul > li {
  padding-right: 10px;
}
.board-list > .page-title > .name-title {
  padding-left: 42%;
}
.board-list > .page-title > .name-title > :hover {
  cursor: pointer;
  color: var(--main1);
}

/*페이지 내비*/
.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*결제css*/
.pay-wrap {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--main2);
  text-align: center;
  width: 400px;
  height: 800px;
  margin: 0 auto;
  align-self: center;
}
.pay-button {
  padding-top: 100px;
}

/*리뷰css*/
.review-wrap {
  margin: 0 auto;
  padding: 20px;
}
.review-wrap > .title {
  text-align: center;
}
.review-wrap > .title > h3 {
  color: var(--main1);
}
.review-wrap > .content {
  border-radius: 10px;
  height: 800px;
  padding-left: 500px;
  background-color: var(--main2);
}

.review-button {
  padding-top: 20px;
}
.review-button > .btn {
  width: 950px;
  height: 50px;
  border: 1px solid var(--main1);
}

/*별점*/
.rating-stars path {
  fill: rgb(216, 216, 216);
}

.rating-star-over path {
  cursor: pointer;
  fill: var(--main1);
}

.rating-star-out path {
  cursor: pointer;
  fill: rgb(216, 216, 216);
}

/*상세css*/
