/*제품 스드메제품 보기 전체css*/
.board-list {
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--main2);
  margin: 0 auto;
  align-self: center;
}
.board-list > .page-title {
  padding: 30px;
  font-size: 17px;
  justify-content: center;
}

.board-list > .page-title > ul {
  display: flex;
  text-align: center;
}

.board-list > .page-title > ul > li {
  padding-right: 10px;
}
.board-list > .page-title > .name-title {
  padding-left: 42%;
  margin: 0 auto;
}
.name-title :hover {
  color: #c19975;
  cursor: pointer;
}

/*페이지 내비*/
.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*결제css*/
.pay-wrap {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--main2);
  text-align: center;
  width: 400px;
  height: 800px;
  margin: 0 auto;
  align-self: center;
}
.pay-button {
  padding-top: 100px;
}

/*리뷰css*/
.review-wrap > img {
  width: 300px;
}

.review-wrap > h2 {
  color: var(--main1);
}
.review-wrap > .title {
  text-align: center;
  padding-bottom: 200px;
}
.title > label {
  color: var(--main1);
}
.review-wrap > .title > textarea {
  margin-left: 0;
}

.review-wrap > .content {
  border-radius: 10px;
  height: 800px;
  padding-left: 500px;
  background-color: var(--main2);
}

.review-item {
  padding: 20px;
  border: 1px solid #c19975;
  border-radius: 5px;
  display: inline-block;
}

.review-item > textarea {
  margin-left: 0px;
}

.review-button {
  padding-top: 20px;
  padding-left: 50px;
}
.review-button > button {
  width: 100px;
  border: 1px solid #000;
  background-color: #c19975;
  color: #fff;
}
/*신고하기*/
.report-popup>button{
  background-color: #ccc;
}

/*상세css*/
.product-view-wrap {
  width: 900px;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
}
.product-title > h3 {
  color: #c19975;
  font-size: 20px;
  font-family: ns_b;
}
.product-back > .material-icons {
  text-align: left;
}
.product-thumbnail > img {
  width: 300px;
  height: 300px;
}

.product-tbl {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
}

.product-tbl th,
.product-tbl td {
  padding: 12px 15px;
}

.product-tbl tbody tr {
  border-bottom: 1px solid #dddddd;
}

.product-tbl tbody tr:last-of-type {
  border-bottom: 2px solid #c19975;
}

.product-view-content {
  padding: 5%;
}

.product-view-info {
  display: flex;
}

.product-view-preview {
  padding-top: 5%;
  padding-left: 13%;
}
.product-view-preview > .prduct-report {
  display: flex;
  padding-left: 74%;
}

.product-content-wrap {
  border-top: 1px solid #c19975;
  border-bottom: 1px solid #c19975;
}

.product-reviews {
  border-top: 1px solid #c19975;
  border-bottom: 1px solid #c19975;
}

.product-faq {
  border-top: 1px solid #c19975;
  border-bottom: 1px solid #c19975;
}

.product-map-view {
  border-top: 1px solid #c19975;
  border-bottom: 1px solid #c19975;
}

.product-btn-zone {
  display: flex;
  padding-bottom: 5%;
}
/*웨딩홀예약*/
.wedding-wrap {
  padding: 20px;
  border-radius: 10px;
  border: 1px var(--main1) solid;
  width: 360px;
  margin: 0 auto;
  align-self: center;
}

.wedding-wrap > .material-icons {
  margin-right: 100%;
}

.wedding-wrap > .title-name {
  padding: 30px;
  text-align: center;
  font-family: ns-b;
  font-size: 20px;
  color: var(--main1);
}

.wedding-content > .input-wrap {
  padding: 15px 30px;
  border: none;
  display: flex;
  flex-direction: column;
  border-left: 20px;
}

.wedding-content > .input-wrap > .input-title > label {
  text-align: left;
  font-size: 17px;
  color: var(--main1);
  font-family: ns-b;
}

.wedding-content > .input-wrap > .input-item {
  text-align: left;
}

.wedding-content > .input-wrap > .input-item > input {
  font-size: 16px;
  padding: 8px 0px;
  width: 250px;
  border: 1px var(--main1) solid;
  border-radius: 5px;
}
.wedding-content > .input-wrap > .input-item > select {
  font-size: 16px;
  padding: 8px 0px;
  width: 250px;
  border: 1px var(--main1) solid;
  border-radius: 5px;
}

.wedding-content > .pay {
  text-align: end;
}
.total-pay > h3 {
  color: red;
}

.wedding-button > button {
  border: 1px solid #fff;
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  font-family: ns-b;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

.wedding-button > button:hover {
  background-color: var(--main1);
  color: #fff;
  cursor: pointer;
}
