.company-wrap {
  display: flex;
}
.side-info {
  min-width: 310px;
  height: 300px;
  border: 1px solid black;
  margin-left: 50px;
  margin-top: 100px;
}

/*---Join--------------------------------------------------------*/
.company-join-wrap {
  width: 1200px;
  border: 1px solid #ccc;
  margin: 50px 90px;
  margin-top: 90px;
}
.company-title {
  font-size: 30px;
  margin: 20px 0px;
  padding-left: 100px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.company-section {
  display: flex;
  justify-content: center;
}
.thumbnail-zone {
  width: 400px;
  height: 400px;
}

.company-thumbnail {
  width: 350px;
  height: 350px;
  border: 1px solid #ccc;
  border-radius: 20px;
  display: block;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;

  overflow: hidden; /* 이미지가 div 밖으로 나가지 않도록 설정 */
  display: flex; /* Flexbox 활성화 (선택 사항) */
  justify-content: center; /* 중앙 정렬 (선택 사항) */
  align-items: center; /* 수직 중앙 정렬 (선택 사항) */
}
.company-thumbnail + span {
  padding-left: 170px;
}
.company-input-wrap {
  margin: 20px 0px;
  font-size: 16px;
}
.company-input-wrap > label {
  display: inline-block;
  width: 150px;
  text-align: center;
}
.company-select-wrap {
  display: flex;
  margin: 20px 0px;
}
.company-select-wrap > label {
  width: 150px;
  text-align: center;
  margin: auto 0;
}
.company-select-wrap > span {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  margin: 0 10px;
}
.time-select > div {
  min-width: 200px;
  width: 200px;
  margin: auto 0;
}
.category-select > div {
  min-width: 200px;
  width: 200px;
}
.checkbox {
  display: inline;
}
.keyWord {
  margin: 0 5px;
  font-size: 18px;
}
.material-icons {
  font-size: 16px;
  cursor: pointer;
}
.keyWord-wrap {
  width: 1000px;
  margin: 0 auto;
}
.company-input-wrap > input {
  height: 30px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 10px;
}
.company-input-wrap > #companyTel {
  width: 100px;
}
.company-input-wrap > #companyTel + span {
  margin: 0px 20px;
}
.company-input-wrap > #companyAddr + button {
  margin-left: 10px;
  position: relative;
  border: none;
  display: inline-block;
  padding: 6px 30px;
  border-radius: 15px;
  font-weight: 600;
}
.checkbox > input {
  margin-right: 15px;
  margin-left: 4px;
}
.introduction-wrap {
  margin-bottom: 50px;
}
.introduction-wrap > div,
.introduction-wrap > textarea {
  margin-left: 100px;
  margin-top: 10px;
}
.introduction-wrap > textarea {
  resize: none;
  width: 1000px;
  height: 70px;
  font-size: 17px;
  padding: 8px;
  border-color: #ccc;
}
.btn-zone {
  margin: 20px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  width: 1280px;
}
.btn-zone > button {
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-weight: 600;
}

.company-thumbnail > img {
  max-width: 100%; /* div의 너비를 초과하지 않도록 설정 */
  height: 100%; /* div의 높이를 초과하지 않도록 설정 */
}

/*----Info-----------------------------------------------*/
.company-info-wrap {
  width: 1200px;
  border: 1px solid #ccc;
  margin: 50px 90px;
  margin-top: 90px;
}
.company-info-input-zone {
  padding-left: 65px;
}

.company-input-wrap > #start-time,
#end-time {
  width: 174px;
}
.company-input-wrap > .and {
  font-size: 20px;
  font-weight: 600;
  margin: 0px 20px;
}
/*----Product------------------------------------------------*/
.companyProduct-wrap {
  width: 1200px;
  border: 1px solid #ccc;
  margin: 50px 90px;
  margin-top: 90px;
}
.radio-zone > input {
  margin-left: 5px;
  margin-right: 20px;
}
.company-product-input-zone {
  padding-top: 20px;
}
.editor-zone {
  margin-bottom: 40px;
}
.editor-zone > div {
  margin: 0 auto;
}
.option {
  display: none;
}
.productThumb-zone {
  width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.productThumb {
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px 10px;
}
.productThumb > img {
  width: 100%;
  height: 100%;
}
.div-container > div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
