.company-wrap {
  display: flex;
}
.side-info {
  width: 310px;
  height: 300px;
  border: 1px solid black;
  margin-left: 50px;
  margin-top: 100px;
}

/*---Join--------------------------------------------------------*/
.join-wrap {
  width: 1200px;
  height: 800px;
  border: 1px solid #ccc;
  margin: 0 auto;
}
.company-input-wrap > label {
  display: inline-block;
  width: 150px;
  text-align: center;
}
.company-select-wrap {
  display: flex;
}
.company-select-wrap > label {
  width: 150px;
  text-align: center;
  margin: auto 0;
}
.company-select-wrap > span {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  margin: 0 10px;
}
.time-select > div {
  min-width: 200px;
  width: 200px;
  margin: auto 0;
}
