.convention-wrap{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
}

.convention-container{
    width: 1200px;
    height: 100%;
    background-color: aquamarine;
}