.convention-wrap{
    display: flex;
    justify-content: center;
    width: 100%;
    /* height: 100vh; */
    /* background-color: rgb(159, 210, 255); */
}

.convention-container{
    width: 1200px;
    /* background-color: aquamarine; */
}

.empty-convention-wrap{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.empty-convention-wrap>span{
    margin-top: 15vh;
    font-size: 18px;
    font-weight: 600;

}

.empty-convention-wrap>.locate{
    margin-top: 3vh;
    width: auto;
    padding: 0px 10px;
    height: 40px;
    background-color: var(--main2);
    border: none;
    font-size: 16px;
    line-height: 40px;
    color: black;
}




/* InsertConvention css */
.insert-convention-container{
    display: flex;
    flex-wrap: wrap;
    /* width: 50%; */
    /* background-color: aqua; */
    margin-top: 3%;
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: column; */
}

.convention-header{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
    /* background-color: azure; */
}

.convention-header>button{
    width: auto;
    padding: 0px 20px;
    height: 4vh;
    border: none;
    background-color: var(--main2);
    border-radius: 10px;
    font-size: 1em;
}
.convention-header>button:hover{
    background-color: var(--hover1);
}
.convention-header>.selected{
    background-color: hsl(203, 100%, 83%);
}

.convention-img{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    /* background-color: rgb(220, 239, 255); */
}
.convention-img>img{
    width: 700px;
    height: 700px;
    object-fit: cover;
    cursor: pointer;
}

.convention-img-type{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
    
}

.convention-img-type>button{
    width: auto;
    padding: 0px 10px;
    height: 4vh;
    border: none;
    background-color: var(--main2);
    border-radius: 10px;
    font-size: 1em;
}

.convention-img-type>button:hover{
    background-color: var(--hover1);
}

.convention-img-type>.selected{
    background-color: hsl(203, 100%, 83%);
}



.convention-info-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: aqua; */
    font-size: 18px;
    margin-top: 10px;
}

.input-wrap{
    width: 70%;
    height: 7vh;
    /* background-color: aquamarine; */
    display: flex;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
}
.input-info, .input-zone{
    height: 100%;
    display: flex;
    align-items: center;
}

.input-info{
    width: 20%;
    justify-content: center;

    /* background-color: rgb(140, 201, 255); */
}
.input-zone{
    width: 80%;
    border-left: 1px solid #bbb;
    /* background-color: rgb(255, 219, 172); */
}
.input-zone>input{
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 0 10%;
    width: 100%;
    font-size: 20px;
    padding: 5px;
}

.convention-info-wrap>.input-wrap:nth-last-child(2){
    /* 이유는 모르겠는데 <ToastEditor 컴포넌트 들어오면서 last-child나 last of child가 안 먹힘 뭐임 */
    border-bottom: 1px solid #bbb;
}
/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
} */


/* for editor  */
.editor-wrap{
    width: 70%;
    margin-top: 20px;
}
.editor-wrap > div {
    width: 100%;
}

.editor-wrap * {
    font-size: 18px;
}


/* Preview */
.convention-preview-wrap{
    width: 100%;
    margin-top: 30px;
}
/* main image 버전 */
.preview-main-wrap{
    display: flex;
    width: 100%;
    height: 500px;
}

.main-image-zone{
    width: 70%;
    display: flex;
}

#main-image{
    width: 95%;
    object-fit: cover;
}


.main-info-zone{
    width: 30%;
    /* background-color: #bbb; */
    display: flex;
    flex-direction: column;
}

.main-info-zone>.main-info-title{
    min-height: 15%;
    height: auto;
    max-height: 55%;
    margin-top: 10%;
    /* overflow: hidden; */
    word-wrap: break-word;
    word-break: break-all;
}
.main-info-zone>.main-info-date{
    height: 15%;
    align-content: center;
}
.main-info-zone>.main-info-time{
    height: 10%;
}
.main-info-zone>.main-info-price{
    height: 10%;
}
.main-info-zone>.main-info-limit{
    height: 10%;
}

.main-info-zone>div:not(.main-info-title)>div{
    font-size: 23px;
}

.preview-main-content{
    width: 100%;
    min-height: 20vh;
    /* background-color: #bbb; */
    margin: 30px 0px;
}
.preview-main-content *{
    font-size: 20px;
    font-weight: 500;

}



/* back image 버전 */
.back-main-wrap{
    width: 100%;
    /* height: 500px; */
    display: flex;
    position: relative;
}

.back-image-zone{
    width: 100%;
    /* height: 700px; */
}
#back-image{
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.back-inner-img-zone{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.back-inner-img-zone>.back-info-title{
    width: 100%;
    height: 10%;
    /* background-color: #bbb; */
    font-size: 22px;
    font-weight: 700;
    /* margin-top: 0px; */
    text-align: center;
    align-content: center;
    word-wrap: break-word;
    word-break: break-all;
}
.back-inner-img-zone>.back-info-title>.back-title{
    padding: 0px 10px;
}

.back-inner-img-zone>.back-info-date{
    width: 100%;
    height: 10%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    align-content: center;
}

.back-inner-img-zone>.back-info-price{
    width: 100%;
    height: 5%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    align-content: center;
}

.back-inner-img-zone>.back-info-limit{
    width: 100%;
    height: 5%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    align-content: center;
}

.back-inner-img-zone>.back-info-content{
    width: 100%;
    height: 60%;
    text-align: center;
}
.back-inner-img-zone>.back-info-content *{
    font-size: 20px;
    font-weight: 800;
}


/* 인풋검사 */
.invalid{
    color: red;
}