.convention-wrap{
    display: flex;
    justify-content: center;
    width: 100%;
    /* height: 100vh; */
    /* background-color: rgb(159, 210, 255); */
}
.swal2-shown {
    padding-right: 0 !important;
    overflow: visible !important;
}

.convention-container{
    width: 1200px;
    /* width: 75%; */
    /* background-color: aquamarine; */
}

.empty-convention-wrap{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.empty-convention-wrap>span{
    margin-top: 15vh;
    font-size: 18px;
    font-weight: 600;

}

.empty-convention-wrap>.locate{
    margin-top: 3vh;
    width: auto;
    padding: 0px 10px;
    height: 40px;
    background-color: var(--main2);
    border: none;
    font-size: 16px;
    line-height: 40px;
    color: black;
}


.convention-preview-info-wrap{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
}

.convention-preview-info-wrap>.convention-inner-preview-info{
    width: calc(100% / 3);
    text-align: center;
}
.convention-preview-info-wrap>.convention-inner-preview-info:first-child{
    text-align: right;
}
.convention-preview-info-wrap>.convention-inner-preview-info:last-child{
    text-align: left;
}
.convention-preview-info-wrap>.convention-inner-preview-info>button{
    width: 30%;
    min-width: 75px;
    height: 40%;
    border: none;
    border-radius: 15px;
    background-color: var(--main1);
    font-size: 16px;
    font-weight: 500;
    text-wrap: pretty;
    color: white;
}
.convention-preview-info-wrap>.convention-inner-preview-info>button:hover{
    /* hover */
}


/* 신청하기 누르면 보여줄 alert? */
.convention-member-alert-wrap{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    /* position: absolute; */
    inset: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: auto;
}
@media (max-width : 430px){
    .convention-member-alert-wrap{
        height: 120vh;
    }
}

.convention-input-alert{
    width: 50%;
    /* min-width: 280px; */
    min-width: 370px;
    height: 70%;
    background-color:white;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.convention-email-wrap{
    height: 25%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
}

.convention-email-info-wrap{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.convention-email-info-wrap>label{
    /* font-size: 18px; */
    font-size: 1.15rem;
    font-weight: 600;
    cursor: pointer;
}
.convention-email-input-wrap{
    width: 60%;
    min-width: 200px;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 5px;
}
.convention-email-input-wrap>.email-first-input-wrap>.convention-email-input{
    width: 70%;
    /* height: 25%; */
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    /* font-size: 16px; */
    padding: 0 5px;
    font-size: 1rem;
}
.convention-email-input-wrap>span{
    /* margin: 0 10px; */
}
#convention-email-last{
    /* width: auto; */
    /* max-width: 20%; */
    /* height: 40%; */
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    font-size: 1rem;
    
}
.convention-email-input-wrap>.email-first-input-wrap{
    width: 45%;
    display: flex;
    justify-content: end;
    height: 50%;
}
.convention-email-input-wrap>.email-mid-wrap{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 50%;
}

.convention-email-input-wrap>.email-last-input-wrap{
    width: 25%;
    display: flex;
    justify-content: start;
    height: 50%;
}

#convention-email-last>option{
/* input이랑 select 높이 맞추기 */
}

.convention-date-msg{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 16px; */
    font-weight: 500;
}

.convention-date-wrap{
    height: 50%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* font-size: 1.1em; */
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    overflow-y: auto;
    overscroll-behavior: contain;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}
.convention-inner-date{
    width: calc(100% / 5);
    /* background-color: aliceblue; */
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.convention-inner-date *{
    cursor: pointer;
}
#small{
    /* font-size: 16px; */
    font-weight: 500;
}
.convention-date-wrap input[type=radio]{
    width: 20%;
    height: 20%;
    align-self: center;
}

.convention-personal-info-wrap{
    height: 10%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 18px; */
    font-size: 1.2rem;
    font-weight: 500;
    gap: 10px;
}
#convention-personal-info{
    font-size: 1.75rem;
}
.convention-personal-info-wrap>input[type=checkbox]{
    width: 20px;
    height: 20px;
}

.convention-btn-wrap{
    height: 15%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.convention-btn-wrap>button{
    width: 15%;
    height: 35%;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;
}
.convention-btn-wrap>.convention-cancel-btn{
    background-color: var(--main1);
    
}
.convention-btn-wrap>.convention-submit-btn{
    background-color: var(--main2);
    
}

/* 부스보기 css */
.convention-show-layout-wrap{
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.convention-show-layout-container{
    width: 70%;
    height: 80%;
    position: fixed;
    background-color: white;
}

/* 환불 alert */
.convention-refund-alert-wrap{
    width: 45%;
    max-width: 550px;
    min-width: 250px;
    height: 40%;
    background-color:white;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.convention-refund-title{
    width: 100%;
    height: 20%;
    /* background-color: #bbb; */
    font-size: 1.2rem;
    font-weight: 600;
}
.convention-refund-content{
    width: 100%;
    height: 60%;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.convention-refund-span{
    width: 100%;
    height: 30%;
    /* background-color: aquamarine; */
}
.convention-refund-reason{
    width: 100%;
    height: 70%;
    /* background-color: bisque; */
}
.convention-refund-reason>#refund-text{
    width: 80%;
    height: 100%;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.15rem;
}

.convention-refund-btn{
    width: 100%;
    height: 20%;
    /* background-color: aqua; */
}


.convention-refund-btn>#refund-btn{
    width: 20%;
    min-width: 70px;
    height: 45%;
    min-height: 32px;
    font-size: 1.1rem;
}





/* for editor  */
.editor-wrap{
    width: 70%;
    margin-top: 20px;
}
.editor-wrap > div {
    width: 100%;
}

.editor-wrap * {
    font-size: 18px;
}


/* Preview */
.convention-preview-wrap{
    width: 100%;
    margin-top: 30px;
}
/* main image 버전 */
.preview-main-wrap{
    display: flex;
    width: 100%;
    height: 500px;
}

.main-image-zone{
    width: 70%;
    display: flex;
}

#main-image{
    width: 95%;
    object-fit: cover;
}


.main-info-zone{
    width: 30%;
    /* background-color: #bbb; */
    display: flex;
    flex-direction: column;
}

.main-info-zone>.main-info-title{
    /* min-height: 10%; */
    /* height: auto; */
    max-height: 50%;
    margin: 10px 0px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
.main-info-zone>.main-info-date{
    /* height: 15%; */
    min-height: 9%;
    max-height: fit-content;
    align-content: center;
}
.main-info-zone>.main-info-time{
    /* height: 10%; */
    min-height: 9%;
    max-height: fit-content;
    align-content: center;
}
.main-info-zone>.main-info-price{
    /* height: 10%; */
    min-height: 9%;
    max-height: fit-content;
    align-content: center;
}
.main-info-zone>.main-info-limit{
    /* height: 10%; */
    min-height: 9%;
    max-height: fit-content;
    align-content: center;
}

.main-info-zone>div:not(.main-info-title)>div{
    font-size: 22px;
}
@media (max-width: 1199px){
    .main-info-zone>div:not(.main-info-title)>div{
        font-size: 20px;
    }
    .main-info-zone .main-info-inner-span{
        font-size: 18px;
    }
}

@media (max-width: 960px){
    .main-info-zone>div:not(.main-info-title)>div{
        font-size: 18px;
    }
    .main-info-zone .main-info-inner-span{
        font-size: 16px;
    }
}

@media (max-width: 767px){
    .main-info-zone>div:not(.main-info-title)>div{
        font-size: 16px;
    }
    .main-info-zone .main-info-inner-span{
        font-size: 14px;
    }
}
@media (max-width: 479px){
    .main-info-zone>div:not(.main-info-title)>div{
        font-size: 14px;
    }
    .main-info-zone .main-info-inner-span{
        font-size: 13px;
    }
}

.preview-main-content{
    width: 100%;
    min-height: fit-content;
    /* background-color: #bbb; */
    margin: 30px 0px;
    max-height: 1000px;
    overflow: hidden;
}
.preview-main-content *{
    font-size: 20px;
    font-weight: 500;

}



/* back image 버전 */
.back-main-wrap{
    width: 100%;
    height: 900px;
    display: flex;
    position: relative;
    /* min-height: 700px; */
    margin-bottom: 30px;
    max-height: 1200px;
}

.back-image-zone{
    width: 100%;
    /* min-height: 700px; */
    max-height: 1200px;
    
    /* width: 100vw; */
    /* height: 900px; */
    /* position: absolute; */
    /* right: -115px; */
}
#back-image{
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.back-inner-img-zone{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.back-inner-img-zone>.back-info-title{
    width: 100%;
    height: 10%;
    /* background-color: #bbb; */
    font-size: 22px;
    font-weight: 700;
    /* margin-top: 0px; */
    text-align: center;
    align-content: center;
    word-wrap: break-word;
    word-break: break-all;
    max-height: 15%;
    overflow: hidden;
}
.back-inner-img-zone>.back-info-title>.back-title{
    padding: 0px 10px;
}

.back-inner-img-zone>.back-info-date{
    width: 100%;
    height: 10%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    align-content: center;
}

.back-inner-img-zone>.back-info-price{
    width: 100%;
    height: 5%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    align-content: center;
}

.back-inner-img-zone>.back-info-limit{
    width: 100%;
    height: 5%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    align-content: center;
}

.back-inner-img-zone>.back-info-content{
    width: 100%;
    height: 60%;
    text-align: center;
    overflow: hidden;
}
.back-inner-img-zone>.back-info-content *{
    font-size: 20px;
    font-weight: 800;
}


/* 인풋검사 */
.invalid{
    color: red;
}

img.invalid{
    border: 1px solid red;
}


/* 개인정보동의 관련 css */
.personal-container{
    padding: 10px;
    text-wrap: pretty;
    line-height: 25px;
}

/* @media(max-width : 1199px){
    .personal-container{
        line-height: 25px;
    }
} */
#no-active-convention{
    display: none;
}