.convention-comment-wrap{
  width: 100%;
  /* background-color: aliceblue; */
  /* height: 500px; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

#white-space{
  white-space: pre-wrap;
}

@media (max-width : 1200px){
  .convention-comment-wrap .convention-reComment-reply-textarea{
    height: 120px;
  }
  .convention-comment-wrap .convention-comment-reply-textarea{
    height: 120px;
  }
  #comment-textarea{
    font-size: 14px;
  }
  .convention-comment-wrap #edit-textarea{
    height: 120px;
    font-size: 14px;
  }
}
@media (max-width : 467px){
  .convention-comment-wrap .convention-reComment-reply-textarea{
    height: 100px;
    font-size: 12px;
  }
  .convention-comment-wrap .convention-comment-reply-textarea{
    height: 100px;
    font-size: 12px;
  }
  #comment-textarea{
    font-size: 12px;
  }
  .convention-comment-wrap #edit-textarea{
    height: 100px;
    font-size: 12px;
  }
}

.convention-comment-list-zone{
  /* margin-bottom: 20px; */
  /* margin-bottom: 10px; */
}


/* 댓글 작성 하는 곳 */
.convention-comment-write-wrap{
  width: 80%;
  /* background-color: aqua; */
  display: flex;
  gap: 25px;
  /* height: 60px; */
  height: 70px;
}

.convention-comment-input-wrap{
  width: 85%;
  /* height: 100px; */
  /* background-color: aquamarine; */
}
.convention-comment-input-wrap>textarea{
  width: 100%;
  height: 100%;
  /* height: 50%; */
  max-height: 40vh;
  border: none;
  font-size: 1.2em;
  /* border-bottom: 1px solid #ccc; */
  /* padding: 0 5px; */
  border: 1px solid #ccc;
  border-radius: 30px;
  /* border-top-left-radius: 30px;
  border-bottom-left-radius: 30px; */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  resize: none;
  box-sizing: border-box;
  /* overflow: hidden; */
}
.convention-comment-input-wrap>textarea:focus{

  border-bottom: 1px solid #ccc;
}

@media (max-width : 767px){
  .convention-comment-input-wrap>textarea{
    /* height: 25px; */
  }
}


.convention-comment-write-btn-zone{
  width: 15%;
  /* height: 50px; */
  text-align: center;
  /* background-color: bisque; */
  align-self: center;
}
/* .convention-comment-write-wrap .convention-comment-input-wrap:focus-within ~ .convention-comment-write-btn-zone {
  align-self: center;
} */

.convention-comment-write-btn-zone>button{
  width: 100%;
  max-width: 100px;
  height: 30px;
  border: none;
  background-color: var(--main1);
  border-radius: 15px;
  /* font-size: 1.2em; */
  font-size: calc(12px + (18 - 14) * (100vw - 380px) / (1280 - 320));
  /* font-size: 14px; */
  font-weight: 500;
  color: white;
}

/* 댓글 보여주는 곳 */
.convention-comment-list-wrap{
  width: 80%;
  /* height: 500px; */
  /* background-color: #ccc; */
  margin-top: 10px;
  overflow: hidden;
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
}
@media (max-width: 1200px){
  .convention-comment-list-wrap{
    font-size: 15px;
  }
}
@media (max-width: 800px){
  .convention-comment-list-wrap{
    font-size: 12px;
  }
}

.convention-comment{
  width: 100%;
  /* height: 100px; */
  /* border: 1px solid #ccc; */
  /* margin-bottom: 16px; */
  padding: 10px 0px;
  border-bottom: 1px solid #dedede;
  /* background-color: rgb(127, 174, 255); */
}
.convention-comment-show .convention-comment-list-zone:last-child>.convention-comment{
  border-bottom: none;
}

.convention-comment>.convention-comment-header-zone-container{
  width: 100%;
  /* height: 30%; */
  margin-bottom: 5px;
  /* background-color: aquamarine; */
  display: flex;
}

.convention-comment>.convention-comment-header-zone-container>.convention-comment-header-zone-child1{
  width: 70%;
  /* background-color: beige; */
  display: flex;
  flex-wrap: wrap;
}
.convention-comment>.convention-comment-header-zone-container>.convention-comment-header-zone-child1>.convention-comment-date{
  margin-left: 2%;
}
.convention-comment>.convention-comment-header-zone-container>.convention-comment-header-zone-child2{
  width: 30%;
  /* background-color: blue; */
  display: flex;
  justify-content: flex-end;
  /* gap: 10px; */
  gap: 2%;
}
.convention-comment-header-zone-container>.convention-comment-header-zone-child2>div{
  /* width: 50%; */
  margin-right: 5%;
  /* text-align: right; */
}
.convention-comment-header-zone-child2>div>button{
  width: 35px;
}

.convention-comment>.convention-comment-content-zone-container{
  /* background-color: #bbb; */
  --lineHeight : 20px;
  line-height: var(--lineHeight);
  /* height: calc(var(--lineHeight) * 5); */
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-all;
    /* display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; */
  text-overflow: clip;

}

.convention-comment>.convention-comment-content-zone-container>span{
  width: 100%;
  display: block;
}

.convention-comment-header-zone-child1>.convention-comment-date>span{
  color: #989898;
}
.convention-comment-header-zone-child1>.convention-comment-is-edit{
  margin-left: 2%;
}
.convention-comment-header-zone-child1>.convention-comment-is-edit>span{
  color: #989898;
}
.convention-comment-reply-container{
  width: 100%;
  /* background-color: aquamarine; */
  display: flex;
}
.convention-comment-reply-container>.convention-comment-reply{
  width: 4%;
  /* text-align: center; */
  min-width: 28px;
  text-align: left;
  /* background-color: yellow; */
}

.convention-comment-reply-container>.convention-comment-more-btn-zone{
  /* margin-top: 10px; */
  width: 96%;
  /* background-color: #8089d9; */
}
.convention-comment-more-btn-zone>#more-recomment-btn{
  color: #8089d9;
  font-weight: 500;
}

.convention-comment-reply-container{
  width: 100%;
  /* background-color: #7c7c7c; */
  display: flex;
  margin-top: 5px;
  gap: 10px;
}

.convention-comment-write-reply-container{
  gap: 25px;
  width: 100%;
  /* background-color: #8089d9; */
  margin: 10px 0px;
}
.convention-comment-reply-container>.convention-comment-reply>span{
  color: #989898;
}

.convention-comment-reply-textarea{
  width: 85%;
  /* background-color: #8089d9; */
  height: 140px;
}
.convention-comment-reply-textarea>textarea{
  width: 100%;
  height: 100%;
  max-height: 40vh;
  /* border: none; */
  /* margin-top: 10px; */
  font-size: 1.2em;
  /* border-bottom: 1px solid #ccc; */
  border: 1px solid #ccc;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 25px;
  resize: none;
  box-sizing: border-box;
}

.convention-comment-reply-write-btn{
  width: 15%;
  /* background-color: #989898; */
  text-align: center;
  align-self: center;
}
.convention-comment-reply-write-btn>button{
  width: 100%;
  max-width: 100px;
  height: 30px;
  border: none;
  background-color: var(--main1);
  border-radius: 15px;
  /* font-size: 1.2em; */
  font-size: calc(12px + (18 - 14) * (100vw - 380px) / (1280 - 320));
  /* font-size: 14px; */
  font-weight: 500;
  color: white;
}
/* 답글 디자인 */
.convention-reComment-container{
  width: 100%;
  /* width: 98%; */
  /* margin-left: 2vw; */
  /* background-color: aliceblue; */
  /* margin-top: 10px; */
}

.convention-reComment-container>.convention-reComment:last-child{
  border-bottom: none;
}
.convention-reComment-container>.convention-reComment{
  width: 100%;
  /* border: 0.5px solid rgb(197, 197, 197); */
  /* background-color: aqua; */
  /* margin-bottom: 10px; */
  /* padding-bottom: 10px; */
  padding: 10px 0px;
  border-bottom: 1px solid #dedede;
}
.convention-reComment-container>.convention-reComment:last-child{
  padding-top: 10px;
  padding-bottom: 0px;
}

.convention-reComment-container>.convention-reComment>.convention-reComment-header-zone-container{
  width: 100%;
  height: 30%;
  /* background-color: #bbb; */
  display: flex;
  margin-bottom: 5px;
}

.convention-reComment>.convention-reComment-header-zone-container>.convention-reComment-header-zone-child1{
  /* width: 70%; */
  width: 67%;
  margin-left: 3%;
  display: flex;
  /* gap: 15px; */
}

.convention-reComment>.convention-reComment-header-zone-container>.convention-reComment-header-zone-child2{
  width: 30%;
  display: flex;
  justify-content: flex-end;
  /* gap: 30px; */
  /* text-align: right; */
  /* margin-right: 2vw; */
  gap: 2%;
}
.convention-reComment-header-zone-child2>div{
  margin-right: 5%;
}
.convention-reComment-header-zone-child2>div>button{
  width: 35px;
}

.convention-reComment>.convention-reComment-content-zone-container{
  /* width: 100%; */
  width: 97%;
  margin-left: 3%;
  word-wrap: break-word;
  word-break: break-all;
  /* display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; */
  
  --lineHeight : 20px;
  line-height: var(--lineHeight);
  /* height: calc(var(--lineHeight) * 5); */
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

.convention-reComment>.convention-reComment-content-zone-container.show{
  height: auto;
}


.convention-reComment-reply{
  width: 97%;
  margin-left: 3%;
  margin-top: 5px;
}

.convention-reComment-header-zone-container>.convention-reComment-header-zone-child1>.convention-reComment-date{
  margin-left: 2%;
}
.convention-reComment-header-zone-container>.convention-reComment-header-zone-child1>.convention-reComment-date>span{
  color: #989898;
}

.convention-reComment-header-zone-child1>.convention-reComment-is-edit{
  margin-left: 2%;
}
.convention-reComment-header-zone-child1>.convention-reComment-is-edit>span{
  color: #989898;
}

.convention-reComment-header-zone-child2>.convention-comment-reply{

}
.convention-reComment>.convention-reComment-reply>span{
  color: #989898;
}

.convention-reComment-write-reply-container{
  width: 100%;
  /* background-color: #8089d9; */
  margin: 10px 0px;
  gap: 15px;
}

.convention-reComment-reply-textarea{
  /* width: 97%; */
  width: 95%;
  margin-left: 3%;
  height: 140px;
  margin-bottom: 10px;
  /* background-color: aliceblue; */
}

.convention-reComment-reply-textarea>textarea{
  width: 100%;
  /* width: 95%; */
  height: 100%;
  max-height: 40vh;
  /* margin-top: 10px; */
  font-size: 1.2em;
  /* border: none; */
  /* border-bottom: 1px solid #ccc; */
  /* padding: 0 5px; */
  border: 1px solid #ccc;
  border-radius: 30px;
  resize: none;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  /* background-color: #8089d9; */
}

.convention-reComment-reply-write-btn{
  width: 17%;
  /* background-color: #989898; */
  text-align: center;
  align-self: center;
}

.convention-reComment-reply-write-btn>button{
  width: 100%;
  max-width: 100px;
  height: 30px;
  border: none;
  background-color: var(--main1);
  border-radius: 15px;
  /* font-size: 1.2em; */
  font-size: calc(12px + (18 - 14) * (100vw - 380px) / (1280 - 320));
  /* font-size: 14px; */
  font-weight: 500;
  color: white;
}



/* 수정시 textarea */
#edit-textarea{
  width: 80%;
  height: 120px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 30px;
  resize: none;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}




/* 더보기 관련 */
/* 200lines */
/* 댓글 더보기 */
.long-convention-comment{
  margin-top: 5px;
}
.long-convention-comment>span{
  color: #6c6c6c ;
}
/* 답글 더보기 */
.long-convention-reComment{
  margin-top: 5px;
  margin-left: 3%;
}
.long-convention-reComment>span{
  color: #6c6c6c ;
}


/* 답글일때 수정 textarea */
.convention-reComment-content-edit-zone-container{
  margin-left: 3%;
}