/* InsertConvention css */
.insert-convention-container{
  display: flex;
  flex-wrap: wrap;
  /* width: 50%; */
  /* background-color: aqua; */
  margin-top: 3%;
  justify-content: center;
  /* align-items: center; */
  /* flex-direction: column; */
}

.convention-header{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
  /* background-color: azure; */
  margin-bottom: 10px;
}

.convention-header>button{
  width: auto;
  padding: 0px 20px;
  height: 4vh;
  border: none;
  background-color: var(--main2);
  border-radius: 10px;
  font-size: 1em;
}
.convention-header>button:hover{
  background-color: var(--hover1);
}
.convention-header>.selected{
  background-color: hsl(203, 100%, 83%);
}

.convention-img{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  /* background-color: rgb(220, 239, 255); */
}
.convention-img>img{
  /* width: 700px;
  height: 700px; */
  width: 60%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.convention-img-type{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 20px;
  gap: 20px;
  
}

.convention-img-type>button{
  width: auto;
  padding: 0px 10px;
  height: 4vh;
  border: none;
  background-color: var(--main2);
  border-radius: 10px;
  font-size: 1em;
}

.convention-img-type>button:hover{
  background-color: var(--hover1);
}

.convention-img-type>.selected{
  background-color: hsl(203, 100%, 83%);
}



.convention-info-wrap{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-color: aqua; */
  font-size: 18px;
  margin-top: 10px;
}

.convention-info-wrap .input-info>span{
  text-wrap: stable;
}

.convention-info-wrap>.input-wrap{
  width: 70%;
  height: 7vh;
  /* background-color: aquamarine; */
  display: flex;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}
.convention-info-wrap .input-info, .input-zone{
  height: 100%;
  display: flex;
  align-items: center;
}

.convention-info-wrap .input-info{
  width: 20%;
  justify-content: center;


  /* background-color: rgb(140, 201, 255); */
}
.convention-info-wrap .input-zone{
  width: 80%;
  border-left: 1px solid #bbb;
  /* background-color: rgb(255, 219, 172); */
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.convention-info-wrap .input-zone>.convention-input-container{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.convention-info-wrap .input-zone>.convention-input-container>.start-date-container{
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.convention-info-wrap .input-zone>.convention-input-container>.mid-date-container{
  width: 4%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 45px;
  /* background-color: #bbb; */
}
.convention-info-wrap .input-zone>.convention-input-container>.end-date-container{
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.convention-date-icon{
  position: absolute;
  right: 5%;
  font-size: 1.5rem;
  bottom: 37%;
}
.convention-time-icon{
  position: absolute;
  right: 5%;
  font-size: 1.5rem;
  bottom: 37%;
}

.convention-info-wrap .input-zone input{
  border: none;
  border-bottom: 1px solid #ccc;
  /* margin: 0 5%; */
  width: 100%;
  /* font-size: 20px; */
  font-size: 1.2rem;
  /* padding: 5px; */
}
/* .convention-info-wrap .input-zone>.convention-date-container>input{
  margin: 0 10%;
} */
@media (max-width : 1199px){
  .convention-info-wrap .input-zone input{
      font-size: 18px;
      /* margin: 0 23px; */
  }
  .convention-info-wrap{
      font-size: 16px;
  }
  .convention-preview-info-wrap>.convention-inner-preview-info>button{
      font-size: 15px;
  }
}
@media (max-width : 767px){
  .convention-info-wrap .input-zone input{
      font-size: 15px;
      /* margin: 0 20px; */
  }
  .convention-info-wrap{
      font-size: 15px;
  }
  .convention-preview-info-wrap>.convention-inner-preview-info>button{
      font-size: 14px;
  }
}
@media (max-width : 479px){
  .convention-info-wrap .input-zone input{
      font-size: 13px;
      /* margin: 0 17px; */
  }
  .convention-info-wrap{
      font-size: 13px;
  }
  .convention-preview-info-wrap>.convention-inner-preview-info>button{
      font-size: 12px;
  }
}

.convention-info-wrap>.input-wrap:nth-last-child(3){
  /* 이유는 모르겠는데 <ToastEditor 컴포넌트 들어오면서 last-child나 last of child가 안 먹힘 뭐임 */
  /* + input msg */
  border-bottom: 1px solid #bbb;
}
/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
}

input[type="number"] {
-moz-appearance: textfield;
} */

.convention-info-wrap>.input-msg{
  margin-top: 20px;
}

.write-btn-zone{
  width: 100%;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}
.write-btn-zone>button{
  width: 10%;
  height: 35px;
  border: none;
  background-color: var(--main1);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 15px;
}




