* {
  margin: 0;
  padding: 0;
  color: #202020;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

:root {
  --main1: #c19975;
  --main2: #dce4e9;
  --hover1: #bddaed;
  --hover2: #b5b5b5;
}

select {
  outline: none;
}
input,
textarea {
  outline: none;
}

@font-face {
  font-family: ns-l;
  src: url(/public/font/NotoSansKR-Light.ttf);
}
@font-face {
  font-family: ns-r;
  src: url(/public/font/NotoSansKR-Regular.ttf);
}
@font-face {
  font-family: ns-b;
  src: url(/public/font/NotoSansKR-Bold.ttf);
}
@font-face {
  font-family: ns-black;
  src: url(/public/font/NotoSansKR-Black.ttf);
}
