.join-wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  border: none;
}
.join-wrap-content {
  width: 1200px;
}
.join-wrap-content > div {
  display: flex;
  justify-content: center;
}
.join-step {
  padding: 50px 0 10px 0;
}
.join-step > ul {
  display: flex;
  gap: 10px;
}
.step > span {
  font-weight: 900;
}
.join-agree-wrap {
  width: 60%;
}
.join-agree-wrap > div {
  margin: 20px auto;
}
.join-agree-check {
  display: flex;
  align-items: center;
  gap: 10px;
}
.join-agree-check > label {
  display: flex;
  align-items: center;
}
.join-agree-check > label > span {
  font-size: 32px;
}
.join-agree-check > input {
  display: none;
}
.join-agree-check > div {
  display: flex;
  gap: 10px;
}
.join-agree-check > div > span {
  font-weight: 700;
}
.join-agree-check .material-icons {
  color: #c9c9c9;
  cursor: pointer;
}
.join-agree-content {
  margin: 5px 0px 0px 30px;
}
.join-agree-content > div {
  width: 95%;
  height: 100px;
  border: 1px solid var(--main2);
  border-radius: 10px;
  overflow-y: scroll;
  padding: 5px 15px;
  font-size: 14px;
}
.join-agree-content > p {
  font-size: 14px;
}
.join-btn {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.join-btn > button {
  width: 70%;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: var(--main2);
  font-weight: 900;
}
.join-type-wrap {
  width: 60%;
}
.join-type-wrap > div {
  display: flex;
  margin-top: 50px;
}
.join-line {
  border-left: 2px solid #c9c9c9;
}
.join-type {
  width: 50%;
}
.join-type h3 {
  width: 100%;
  text-align: center;
}
.join-type p {
  font-size: 15px;
}
.type-dec {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.type-dec > div {
  width: 80%;
  height: 250px;
  border: 1.5px solid var(--main2);
  border-radius: 15px;
  text-align: center;
}
.type-dec > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin: 15px 0;
}
.type-dec .material-icons {
  font-size: 150px;
  cursor: auto;
}
.type-btn {
  display: flex;
  justify-content: center;
}
.type-btn > button {
  margin: 25px 0 30px 0;
  width: 80%;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: var(--main2);
  font-weight: 900;
}
.join-info-wrap {
  width: 70%;
}
.join-info-wrap > form {
  margin: 50px 0;
}
.join-info-wrap > form > div {
  display: flex;
  justify-content: space-between;
  padding-left: 8%;
}
.join-info1 {
  width: 40%;
}
.join-info2 {
  width: 50%;
}
.join-infobox {
  margin-bottom: 40px;
}
.join-inputbox,
.join-inputbox1,
.join-inputbox2 {
  margin-top: 5px;
}
.join-inputbox > input {
  width: 300px;
  border: none;
  border-bottom: 1.5px solid #c9c9c9;
  padding: 7px;
  font-size: 16px;
}

.join-labelbox {
  display: flex;
}
.join-labelbox > div {
  width: 35%;
  margin: 10px 10px;
}
.join-labelbox > div > label {
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-inputbox > input::placeholder {
  color: #c9c9c9;
  font-weight: 100;
  opacity: 0.7;
}
.join-labelbox > div > label > input {
  display: none;
}
.join-labelbox .backGray {
  background-color: var(--main2);
}

.joinLine2 {
  border-top: 1px solid #c9c9c9;
  width: 100%;
  margin-bottom: 15px;
}
.join-partnerInfobox > h4 {
  font-size: 15px;
}
.join-partnerInfobox > p {
  font-size: 10.5px;
}
.join-partnerInfo {
  display: flex;
  gap: 88px;
  margin-top: 20px;
}
.join-info-wrap > div {
  margin-top: 15px;
}
.join-btn2 {
  width: 100%;
}
.join-btn2 > div {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.join-btn2 > div > button {
  width: 70%;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: var(--main2);
  font-weight: 900;
}
.hiddenCheck {
  display: none;
}
.showCheck {
  display: block;
  color: red;
  font-size: 12px;
}

.join-success-wrap {
  width: 70%;
}
.join-success-wrap > div {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.join-successLogo {
  width: 250px;
}
.join-successLogo > img {
  width: 100%;
}
.join-successWord1 {
  text-align: center;
  line-height: 50px;
}
.join-movePage {
  gap: 30px;
}
.join-movePage button {
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: var(--main2);
}
.join-movePage > :last-child > button {
  background-color: #fff;
  border: 2px solid var(--main2);
}
