.mypage-wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  border: none;
}
.mypage-wrap-content {
  width: 1200px;
}
.mypage-step1 {
  width: 100%;
  height: 120px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
}
.mypage-main-content {
  width: 100%;
  display: flex;
}
.mypage-step2 {
  width: 22%;
}
.mypage-step2 > div {
  width: 90%;
}
