/*마이페이지 전체적으로 반영(구조,범위)*/
.mypage-wrap {
	height: 100%;
	display: flex;
	justify-content: center;
	border: none;
	background-color: rgba(220, 228, 233, 0.3);
}
.mypage-wrap-content {
	width: 1100px;
	display: flex;
	justify-content: center;
	padding: 20px 0;
}
.mypage-wrap-content > div > div {
	padding: 20px;
	box-sizing: border-box;
}
.mypage-wrap-left {
	width: 25%;
	margin-right: 20px;
}
.mypage-wrap-right {
	width: 75%;
}
.mypage-wrap-left > div {
	width: 100%;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
}
.mypage-info-box {
	margin-top: 20px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
.mypage-font-point {
	background: -webkit-linear-gradient(var(--main1), #cc95c0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.mypage-menu-box {
	margin-top: 10px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.mypage-menu-box-title {
	padding-bottom: 20px;
	font-size: 14px;
}
.mypage-menu-box-title > p {
	color: #c9c9c9;
}
.mypage-menu {
	line-height: 50px;
	text-align: center;
}
.mypage-menu:hover {
	background-color: var(--hover3);
}
.mypage-menu-box .here {
	background-color: var(--main1);
	color: #fff;
}

.mypage-wrap-right > div {
	margin: 20px 0;
	width: 100%;
	background-color: #fff;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
}
.mypage-step {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mypage-step h3 {
	font-family: ps-r;
	font-size: 40px;
	font-weight: 200;
	color: var(--main1);
}
.mypage-main-content {
	width: 100%;
	display: flex;
}
.mypage-content {
	width: 100%;
}

/*마이페이지 정보 수정,비밀번호 변경 CSS*/
.mypage-info-wrap,
.mypage-password-wrap {
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
}
.mypage-info-wrap table {
	border-spacing: 0 30px;
}
.mypage-info-wrap thead td {
	vertical-align: bottom;
	color: #a0a0a0;
}
.mypage-partner-info td {
	height: 50px;
}
.mypage-info-wrap tr {
	border-spacing: 0 10px;
}
.mypage-info-wrap tbody th {
	text-align: left;
}
.mypage-info-wrap tbody input {
	width: 90%;
	border-bottom: 1px solid var(--main2);
	padding: 5px 10px;
	padding-bottom: 10px;
}
.mypage-info-wrap input {
	width: 100%;
	border: none;
	font-size: 16px;
}
.mypage-info-password a {
	line-height: 35px;
}
.mypage-info-password div {
	background-color: var(--main2);
	height: 100%;
	font-size: 14px;
	text-align: center;
	border-radius: 10px;
	border: 1px solid #c9c9c9;
}
.mypage-labelbox {
	display: flex;
	justify-content: center;
	gap: 20px;
}
.mypage-labelbox div {
	width: 40%;
	height: 35px;
	font-size: 14px;
	text-align: center;
	line-height: 35px;
	border-radius: 10px;
	border: 1px solid #c9c9c9;
}
.mypage-labelbox label {
	width: 100%;
	height: 100%;
}
.mypage-labelbox input {
	display: none;
}
.mypage-labelbox .backGray {
	background-color: var(--main2);
}
.mypage-password-wrap > div {
	width: 95%;
}

.mypage-password-inputbox {
	display: flex;
	justify-content: center;
	border-top: 2px solid var(--main2);
	border-bottom: 1px solid var(--main2);
	margin: 20px 0;
}
.mypage-password-inputbox > div {
	display: flex;
	justify-content: center;
	gap: 20px;
	align-items: center;
	margin: 40px 0;
}
.mypage-password-input input {
	padding: 5px 15px;
	height: 45px;
	border: 2px solid var(--main2);
	border-radius: 5px;
	font-size: 16px;
	box-sizing: border-box;
}
.mypage-password-btnbox {
	display: flex;
	justify-content: center;
}
.mypage-password-btnbox > button {
	width: 30%;
	height: 45px;
	border: none;
	border-radius: 7px;
	background-color: var(--main2);
	font-size: 16px;
}

.mypage-newPassword-content {
	display: flex;
	justify-content: center;
	border-top: 2px solid var(--main2);
	border-bottom: 1px solid var(--main2);
	margin: 20px 0;
}
.mypage-newPassword-content > div {
	width: 100%;
}
.mypage-newPassword-content > div > div {
	margin: 40px 0;
	width: 100%;
}
.mypage-newPassword-inputBox {
	display: flex;
	justify-content: center;
	gap: 20px;
	align-items: center;
}
.mypage-newPassword-content span {
	margin-left: 310px;
}
.mypage-info-btnBox div {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 20px;
}
.mypage-info-btnBox button {
	width: 20%;
	height: 40px;
	border: 1px solid #c9c9c9;
	border-radius: 7px;
	font-size: 14px;
	font-weight: 700;
}
.mypage-info-modifybtn {
	background-color: var(--main2);
}
.mypage-info-delbtn {
	background-color: #fff;
}

/*마이페이지 일정관리,모달 CSS*/
:root {
	--fc-event-bg-color: var(--hover3);
	--fc-event-border-color: transparent;
	--fc-today-bg-color: #f3f3f3;
}
.fc .fc-toolbar div:nth-child(1) {
	flex-grow: 2;
}
.fc .fc-toolbar div:nth-child(2) {
	flex-grow: 2;
}
.fc .fc-toolbar div:nth-child(3) {
	flex-grow: 1;
}

.fc-toolbar-chunk > div {
	display: flex;
	justify-content: center;
}
.fc .fc-button {
	border: none;
	background-color: transparent;
}
.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
	background-color: var(--main1);
	color: #202020;
	border: none;
}
.fc .fc-button-group {
	width: 100%;
	display: flex;
	justify-content: right;
}
.fc .fc-button-group > .fc-button {
	flex: none;
}
.fc .fc-button-group .fc-button-primary {
	width: 3em;
	background-color: #fff;
	border: 1px solid var(--main1);
	color: #202020;
}
.fc .fc-button-group .fc-button-primary:hover {
	border: 1px solid var(--main1);
}
.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:focus {
	box-shadow: none;
}

.fc .fc-button-primary:hover {
	background-color: #fff;
	border: none;
	box-shadow: none;
}
.fc-daygrid-event-dot {
	display: none;
}
.fc-event-time {
	padding-left: 2px;
}
.scheduleDetail-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
.scheduleDetail-content {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	width: 600px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	position: relative;
	text-align: center;
}
.scheduleDetail-close {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 24px;
	cursor: pointer;
}
.scheduleDetail-table {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
	border-spacing: 0;
	border-top: 1px solid var(--main2);
}
.scheduleDetail-table th {
	width: 20%;
	border-bottom: 1px solid var(--main2);
}
.scheduleDetail-table td {
	text-align: left;
	padding-left: 10px;
	border-bottom: 1px solid var(--main2);
}
.scheduleDetail-map {
	width: 100%;
	height: 150px;
	padding: 10px 0;
}
.scheduleDetail-table span {
	color: #777777;
	font-size: 28px;
}
.sd-tr2 span,
.sd-tr3 span {
	font-size: 32px;
}
.sd-tr1,
.sd-tr3 {
	height: 50px;
}
.sd-tr2 td {
	padding-top: 10px;
}
.scheduleDetail-delButton button {
	width: 20%;
	height: 40px;
	border: 1px solid #c9c9c9;
	border-radius: 20px;
	background-color: var(--main2);
	font-size: 14px;
}

/*마이페이지 구매 내역 CSS*/
.mypage-payment-wrap {
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
}
.mypage-payment-wrap > div {
	width: 100%;
}
.mypage-payment-state {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}
.mypage-payment-state > div {
	width: calc(100% / 4);
	display: flex;
	justify-content: center;
}
.mypage-payment-state button {
	width: 80%;
	height: 40px;
	border: 1px solid #c9c9c9;
	border-radius: 20px;
	background-color: var(--main2);
	font-size: 14px;
	color: #808080;
}
.stateHere > button {
	background-color: var(--main1);
	border: 1px solid var(--main1);
	color: #fff;
}
.paymentList-tbl {
	width: 100%;
	margin: 30px 0;
	box-shadow: rgba(0, 0, 0, 0.07) 2px 3px 4px 2px;
	border-radius: 5px;
}
.paymentList-tbl td {
	padding: 10px 10px;
}
.payment-title td {
	border-bottom: 1px solid var(--main2);
}
.payment-info td {
	height: 100px;
}
.payment-productImg {
	width: 100%;
	height: 100%;
}
.payment-productImg > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.payment-info-text > span {
	color: #777777;
	font-size: 14px;
}
.payment-info-text > p {
	color: #777777;
	font-size: 14px;
}
.payment-info-price {
	text-align: right;
}
.payment-info-btnBox {
	text-align: center;
}
.payment-info-btnBox button {
	width: 70%;
	height: 30px;
	border: 1px solid #c9c9c9;
	border-radius: 7px;
	background-color: var(--main2);
	font-size: 14px;
	font-weight: 700;
	font-weight: 300;
}

/**관심상품 css*/
.mypage-favorite-wrap {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 15px; /* 썸네일 간 간격 조절 */
}
.mypage-favorite-product {
	height: 100%;
	flex: 0 0 calc(33.33% - 15px); /* 각 썸네일의 너비를 3개씩 배치하기 위해 33.33%로 설정, 간격 제외 */
	box-sizing: border-box;
	text-align: left; /* 텍스트 정렬 */
	margin-bottom: 10px;
}
.favorite-productImgBox {
	border: 1px solid #777777;
	padding-top: 100%;
	position: relative;
	border: none;
}
.favorite-productImgBox img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.favorite-productInfo {
	padding: 5px 10px;
}
.favorite-iconBox {
	position: absolute;
	top: 3%; /* 썸네일의 상단에서 10% 위치 */
	right: 3%; /* 썸네일의 오른쪽에서 10% 위치 */
	font-size: 10%; /* 부모의 크기(썸네일) 비율에 맞춰 하트 크기 설정 */
	background-color: rgba(255, 255, 255, 0.5); /* 하트 배경 (선택 사항) */
	border-radius: 50%; /* 하트 배경을 원형으로 */
}
