<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.advertisement.model.dao.AdvertisementDao">
  <select id="activeAd" resultType="advertisement">
  	select * from advertisement where advertisement_state=2
  </select>
  <select id="endAd" resultType="advertisement">
  	select * from advertisement where advertisement_state=3
  </select>
  <select id="yetAd" resultType="advertisement">
  	select * from advertisement where advertisement_state=1
  </select>
  <select id="waitAd" resultType="advertisement">
  	select * from advertisement where advertisement_state=0
  </select>
  <update id="changeStartDate">
  	update advertisement set AD_START=TO_DATE(#{changeStartDate}, 'YYYY/MM/DD') where ADVERTISEMENT_NO=#{advertisementNo}
  </update>
  
  <update id="changeEndDate">
  	update advertisement set AD_End=TO_DATE(#{changeEndDate}, 'YYYY/MM/DD') where ADVERTISEMENT_NO=#{advertisementNo}
  </update>
  <update id="acceptAdvertisement">
  	update advertisement set advertisement_state=4 where advertisement_no=#{advertisementNo}
  </update>
  
  <update id="refuseAd">
  	update advertisement set advertisement_state=5 where advertisement_no=#{advertisementNo}
  </update>
  <insert id="insertAdvertisement">
  	insert into advertisement values(advertisement_seq.nextval,#{companyNo},#{adRank},#{adStart},#{adEnd},#{adRequest},0,#{productNo},to_char(sysdate,'yyyy-mm-dd'))
  </insert>
  <select id="totalCount" resultType="int">
  	select count(*) from advertisement where company_no =#{companyNo}
  </select>
  <select id="selectAdvertisementList" resultType="advertisement">
  	
    select * from 
  (select rownum as rnum, b.* from 
  (select 
  	   a.advertisement_no,
	   a.company_no,
	   a.ad_rank,
	   to_char(a.ad_Start, 'yyyy-mm-dd') as adStart,
       to_char(a.ad_End,'yyyy-mm-dd') as adEnd,
       to_char(a.ad_request_date,'yyyy-mm-dd') as adRequestDate,
  	   a.ad_Request,
  	   a.advertisement_state,
       p.product_no,
       p.product_name
   from advertisement a
   join product p on a.product_no = p.product_no
   where a.company_no = #{companyNo} order by 1 desc) b)
  where rnum between #{pi.start} and #{pi.end}
  </select>
  
  <update id="updateAdvertisement">
  	update advertisement set advertisement_state = 1 where advertisement_no = #{advertisementNo}
  </update>
</mapper>

  