<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.advertisement.model.dao.AdvertisementDao">
  <select id="activeAd" resultType="advertisement">
  	select * from advertisement where advertisement_state=2
  </select>
  <select id="endAd" resultType="advertisement">
  	select * from advertisement where advertisement_state=3
  </select>
  <select id="yetAd" resultType="advertisement">
  	select * from advertisement where advertisement_state=1
  </select>
  <select id="waitAd" resultType="advertisement">
  	select * from advertisement where advertisement_state=0
  </select>
  <update id="changeStartDate">
  	update advertisement set AD_START=TO_DATE(#{changeStartDate}, 'YYYY/MM/DD') where ADVERTISEMENT_NO=#{advertisementNo}
  </update>
  
  <update id="changeEndDate">
  	update advertisement set AD_End=TO_DATE(#{changeEndDate}, 'YYYY/MM/DD') where ADVERTISEMENT_NO=#{advertisementNo}
  </update>
  <update id="acceptAdvertisement">
  	update advertisement set advertisement_state=1 where advertisement_no=#{advertisementNo}
  </update>
  
  <delete id="refuseAd">
  	delete from advertisement where advertisement_no=#{adNo}
  </delete>
</mapper>

  