<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.convention.model.dao.ConventionDao">

    <select id="getTime" resultType="convention">
        select * from 
            (select rownum as rnum, c1.* from 
                (select * from convention order by 1 desc)c1) 
        where rnum = 1
    </select>
    <!-- 1 or 4 -->

    <select id="selectConventionSeat" resultType="conventionSeat">
        select * from convention_seat where
        seat_code like 
        <choose>
            <when test="i == 0">
                'A%'
            </when>
            <when test="i == 1">
                'B%'
            </when>
            <when test="i == 2">
                'C%'
            </when>
        </choose>
        order by 1
    </select>

    <insert id="insertConvention">
        insert into convention values(convention_seq.nextval,#{conventionTitle},#{conventionContent},#{conventionImg},#{conventionStart},#{conventionEnd},#{conventionTime},sysdate,#{conventionPrice},#{conventionLimit},#{imgStyle})
    </insert>

    <insert id="insertConventionMember">
        insert into convention_member values(convention_member_seq.nextval, #{conventionNo}, #{memberNo}, #{ticketCode}, #{memberEmail})
        <selectKey resultType="int" keyProperty="ticketNo" order="AFTER">
            select max(ticket_no) from convention_member
        </selectKey>
    </insert>

    <insert id="insertMemberPay">
        insert into member_pay values(member_pay_seq.nextval, #{memberNo}, null, #{ticketNo}, sysdate, #{progressDate}, #{progressTime}, #{payPrice}, 0, #{merchantUid}, 0)
    </insert>

    <select id="selectOneConvention" resultType="convention">
        select * from convention where convention_no = #{conventionNo}
    </select>

    <update id="updateConvention">
        update convention set convention_title = #{conventionTitle}, convention_content = #{conventionContent}, convention_img = #{conventionImg}, convention_time = #{conventionTime}, img_style = #{imgStyle} where convention_no = #{conventionNo}
    </update>

    <select id="selectPayment" resultType="memberPay">
        select pay_no, ticket_no, pay_price, merchant_uid
            from member_pay where member_no = #{memberNo} and 
            ticket_no = (select ticket_no from convention_member where convention_no = #{conventionNo}) and
            sysdate <![CDATA[ < ]]> (select convention_start from convention where convention_no = #{conventionNo})
            and progress = 0
    </select>

    <update id="updateMemberPayKind">
        update member_pay set kind = 2 where ticket_no = #{ticketNo} and member_no = #{memberNo}
    </update>

    <delete id="deleteConventionMember">
        delete from convention_member where ticket_no = #{ticketNo} and member_no = #{memberNo}
    </delete>

    <update id="updateMemberPay">
        update member_pay set progress = 2 where merchant_uid = #{merchantUid} and member_no = #{memberNo}
    </update>

    <select id="selectConventionCommentList" resultType="conventionComment">
        select cc.*,
            (select member_id from member where member_no = cc.member_no) as member_id,
            (select count(convention_comment_ref) from convention_comment where convention_comment_ref = cc.convention_comment_no ) as re_comment_count
        from convention_comment cc 
        where convention_no = #{conventionNo} and convention_comment_ref is null order by 1 desc
    </select>

    <select id="selectConventionReCommentList" resultType="conventionComment">
        select cc.*,
            (select member_id from member where member_no = cc.member_no) as member_id
        from convention_comment cc 
        where convention_no = #{conventionNo} and convention_comment_ref is not null order by 1 desc
    </select>

    <insert id="insertConventionComment">
        insert into convention_comment values(convention_comment_seq.nextval, #{memberNo}, #{conventionNo}, #{conventionCommentContent}, 0, sysdate, 
        <choose>
            <when test="conventionCommentRef == 0">
            null
            </when>

            <when test="conventionCommentRef != 0">
            #{conventionCommentRef}
            </when>
        </choose>
        )
    </insert>

    <delete id="deleteConventionComment">
        delete from convention_comment where convention_comment_no = #{conventionCommentNo}
    </delete>

    <update id="updateConventionComment">
        update convention_comment set convention_comment_content = #{conventionCommentContent}, edit_type = 1 where convention_comment_no = #{conventionCommentNo}
    </update>


    <insert id="insertConventionCompany">
        insert into convention_company values(convention_company_seq.nextval, #{conventionNo}, #{companyNo}, #{seatNo})
    </insert>

    <insert id="insertCompanyPay">
        insert into company_pay values(pay_no_seq.nextval, #{companyNo}, #{conventionNo}, null, to_char(sysdate, 'yyyy-mm-dd'), #{payPrice}, 0, 0, #{merchantUid})
    </insert>

    <update id="updateSeatInfo">
        update convention_seat set convention_seat_price = #{conventionSeatPrice}, seat_status = #{seatStatus} where seat_no = #{seatNo}
    </update>

    <select id="selectMemberInfo" resultType="member">
        select member_email, member_phone, member_name from member where member_no = #{memberNo}
    </select>

    <select id="checkTicketDupelicate" resultType="conventionMember">
        select ticket_no from convention_member where ticket_code = #{ticketCode}
    </select>

</mapper>
