<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.product.model.dao.ProductDao">
	<select id="TotalCount" resultType="int">
		select count(*) from product
		where product_state=1
	</select>
	<select id="getProductList" resultType="product">
		select * from
		(select
		rownum as rnum, b.* from
		(select
		company_category,
		product_no,
		product_thumb,
		product_name,
		product_price
		from product where
		company_category = #{category} order by product_no
		desc) b)
		where rnum
		between #{pi.start} and#{pi.end}
	</select>

	<select id="getProductHallList" resultType="product">
		select * from
		(select
		rownum as rnum, b.* from
		(select
		company_category,
		product_no,
		product_thumb,
		product_name,
		product_price
		from product where
		company_category = #{category} order by product_no
		desc) b)
		where rnum
		between #{pi.start} and#{pi.end}
	</select>

	<insert id="insertProduct">
		insert into product
		values(product_seq.nextval,#{companyNo},#{productName},#{productImg},#{productContent},#{productPrice},null,#{coronation},#{diningRoom},#{numberPeople},null,#{companyCategory})
		<selectKey resultType="int" keyProperty="productNo"
			order="AFTER">
			select max(product_no) from product
		</selectKey>
	</insert>
	<insert id="insertProductFile">
		insert into product_file values
		(product_File_seq.nextval,#{productNo},#{fileName},#{filePath})
	</insert>

	<select id="selectOneProduct" resultType="product">
		select* from product where product_no= #{productNo}
	</select>

	<select id="selectProductName" resultType="product">
		select product_name from product where product_no = #{productNo}
	</select>

	<select id="selectProductList" resultType="product">
		select * from
		(select
		rownum as rnum, b.* from
		(select
		product_no,
		company_no,
		product_img,
		product_name,
		product_price
		from product where company_no=#{companyNo}
		order by product_no desc) b)
		where rnum between #{pi.start} and
		#{pi.end}
	</select>

	<select id="selectProduct" resultType="product">
		select * from product
		where product_no = #{productNo}
	</select>

	<select id="selectProductFile" resultType="String">
		select file_path from
		product_file where product_no =#{productNo}
	</select>

	<select id="productHallList" resultType="product">
		select * from product 
	</select>

	<update id="updateProductInfo">
		update product
		set
		product_name = #{productName},
		<if test="productImg != null">
			product_img = #{productImg},
		</if>
		product_content = #{productContent},
		product_price = #{productPrice},
		coronation = #{coronation},
		dining_room = #{diningRoom},
		number_people
		=#{numberPeople}
		where product_no =#{productNo}
	</update>

	<delete id="deleteThumbnails">
		delete from product_file
		where file_path in
		<foreach collection="delThumbsFile" item="file" open="("
			close=")" separator=",">
			#{file}
		</foreach>
	</delete>

	<select id="selectProductImg" resultType="String">
		select product_img from
		product where product_No =#{productNo}
	</select>

	<delete id="deleteProduct">
		delete from product where product_no =#{productNo}
	</delete>
	
	<delete id="deleteProductFile">
		delete from product_file where product_no
		=#{productNo}
	</delete>

	<select id="getMontlySales" resultType="sales">
		SELECT
		SUM(pay_price) AS sales
		FROM (
		SELECT pay_price
		FROM member_pay
		WHERE
		SUBSTR(merchant_uid, 1, 4) = #{selectedYear}
		AND SUBSTR(merchant_uid, 5, 2) = #{month}

		UNION ALL

		SELECT pay_price
		FROM company_pay
		WHERE
		SUBSTR(merchant_uid, 1, 4) = #{selectedYear}
		AND SUBSTR(merchant_uid, 5, 2) = #{month}
		)
	</select>
	
	<select id="getMontlySalesMember" resultType="sales">
		SELECT
		SUM(pay_price) AS
		sales
		FROM
		member_pay
		WHERE
		SUBSTR(merchant_uid, 1, 4) = #{selectedYear}
		AND
		SUBSTR(merchant_uid, 5, 2) = #{month}
	</select>
	
	<select id="getMontlySalesCompany" resultType="sales">
		SELECT
		SUM(pay_price) AS
		sales
		FROM
		company_pay
		WHERE
		SUBSTR(merchant_uid, 1, 4) = #{selectedYear}
		AND
		SUBSTR(merchant_uid, 5, 2) = #{month}
	</select>
	
	<select id="getAdSales" resultType="int">
		SELECT
		SUM(pay_price) AS
		sales
		FROM
		company_pay
		WHERE
		SUBSTR(merchant_uid, 1, 4) = 2024
		AND
		SUBSTR(merchant_uid, 5, 2) = #{month}
		and
		SELL_TYPE=1
	</select>

	<select id="selectProductList2" resultType="product">
		select
		product_no,
		company_no,
		product_img,
		product_name,
		product_price
		from product where
		company_no=#{companyNo}
	</select>

	<select id="getCompanySales" resultType="sales">
		SELECT SUM(pay_price) AS
		sales
		FROM member_pay
		WHERE product_no = #{productNo}
	</select>

  <select id="productTotalCount" resultType="int">
  	select count(*) from product where company_no = #{companyNo}
  </select>
  
  <select id="selectProductNo" resultType="int">
  	select product_no from product where company_no =#{companyNo}
  </select>

  <select id="selectCustomerList" resultMap="CustomerResultMap">
  select * from
  (select rownum as rnum, a.* from(
    select distinct 
    m.member_no,
    m.member_name,
    m.member_phone,
    m.member_gender,
    m.member_email,
    m.partner_name
	from product p 
	
	join member_pay mp on p.product_no = mp.product_no 
	
	join member m on m.member_no = mp.member_no
	
	where p.product_no in
	<foreach collection="productNo" item="No" open="(" close=")" separator=",">
		#{No}
	</foreach>
	 ) a) where rnum between #{pi.start} and#{pi.end}
  </select> 
  <resultMap id="CustomerResultMap" type="customer">
    <result property="memberNo" column="member_no"/>
    <result property="memberName" column="member_name"/>
    <result property="memberPhone" column="member_phone"/>
    <result property="memberGender" column="member_gender"/>
    <result property="memberEmail" column="member_email"/>
    <result property="partnerName" column="partner_name"/>
</resultMap>

	<select id="TotalCustomerCount" resultType="int">
    
        SELECT count(*)
        FROM product p 
        JOIN member_pay mp ON p.product_no = mp.product_no 
        JOIN member m ON m.member_no = mp.member_no
        WHERE p.product_no IN
        <foreach collection="productNo" item="No" open="(" close=")" separator=",">
            #{No}
        </foreach>

	</select>
	
	<select id="totalCounselCount" resultType="int">
   
	      SELECT count(*)
	      FROM product p 
	
		  join member_pay mp on p.product_no = mp.product_no
	
	   	  join member m on mp.member_no = m.member_no 
	      WHERE p.product_no IN
	      <foreach collection="productNo" item="No" open="(" close=")" separator=",">
	          #{No}
	      </foreach>

	</select>
	
	
 <select id="totalCounselList" resultMap="CounselResultMap">
   select * from
  (select rownum as rnum, a.* from(select 
		
		m.member_name,
		m.member_phone,
		p.product_no,
		p.product_name,
		mp.pay_no,
		mp.pay_date,
		mp.progress
    
	from product p 
	
	join member_pay mp on p.product_no = mp.product_no
	
	join member m on mp.member_no = m.member_no 
	
	where p.product_no in
	<foreach collection="productNo" item="No" open="(" close=")" separator=",">
		#{No}
	</foreach>
	 order by pay_date ) a) where rnum between #{pi.start} and#{pi.end}
  </select> 
  <resultMap id="CounselResultMap" type="counsel">
    <result property="memberName" column="member_name"/>
    <result property="memberPhone" column="member_phone"/>
    <result property="productNo" column="product_no"/>
    <result property="productName" column="product_name"/>
    <result property="payNo" column="pay_no"/>
    <result property="payDate" column="pay_date"/>
    <result property="progress" column="progress"/>
</resultMap>
 
 <select id="selectProductOneList" resultType="int">
 	select product_no, product_name, coronation, diningRoom,
 </select>
<select id="favoriteList" resultType="product">
	 select company_no,product_no,product_name,product_IMG,product_price from favorite_product join product using(product_no) where member_no=#{memberNo} order by 2 desc
</select>
<insert id="favoriteInsert">
	insert into favorite_product values(favorite_product_seq.nextval,#{memberNo},#{productNo},#{likes})
</insert>
<delete id="favoritedelete">
	delete from favorite_product where member_no=#{memberNo} and product_no=#{productNo}
</delete>
<select id="selectAdvertProductNo" resultType="product">
	select product_no ,product_name from product where company_no = #{companyNo}
</select>

<select id="favoriteOneList" resultType="productFavorite">
	select * from favorite_product where member_no = #{memberNo}
</select>
<select id="selectAdHall" resultType="product">
SELECT p.product_no,product_name,product_img,product_price,coronation,dining_room,company_name
FROM (
    SELECT * 
    FROM advertisement a 
    WHERE advertisement_state = 2
) ad
JOIN product p 
    ON p.product_no = ad.product_no
JOIN company c 
    ON c.company_no = p.company_no
	<if test="type == '웨딩홀'">
	WHERE c.company_category = '웨딩홀'
	</if>
	<if test="type == '상품'">
	WHERE c.company_category != '웨딩홀'
	</if>
  AND c.company_state = '1'
  ORDER BY ad_rank, ad_start
</select>

</mapper>
