.admin-menu {
  border: 1px solid black;
  width: 300px;
  height: 350px;
  text-align: center;
}
.admin-menu-img img {
  max-width: 100px;
  height: auto;
  margin-top: 25px;
}
.admin-menu-wrap {
  display: inline-block;
  width: 303px;
  margin-top: 100px;
  margin-left: 30px;
}
.admin-menu-tbl {
  text-align: center;
  width: 100%;
}
