.notice-wrap {
  border: 1px solid #ddd;
  border-top: none;
  margin: 0 auto;
  height: 878px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-title {
  text-align: center;
}

.write-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10%;
  border: none;
  border-radius: 3px;
  background-color: var(--main1);
  font-size: 16px;
  font-weight: 600;
}
.write-btn-wrap {
  display: flex;
  justify-content: right;
}

.notice-list-wrap {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.posting-wrap {
  width: 100%;
}

.posting-item {
  display: flex; /* Change to flex to align items side by side */
  align-items: center; /* Vertically center align the items */
  padding: 10px; /* Add some padding */
}

.posting-img > img {
  width: 50px;
  height: 50px;
  margin-right: 10px; /* Add some space between the image and title */
}
.posting-img {
  display: flex;
}
.posting-info {
  display: flex;
  flex-direction: column; /* Keep the title and sub-info stacked */
}
.posting-wrap > li {
  border-bottom: 1px solid #dddddd;
}
.pageNUm {
  cursor: pointer;
}
.notice-paging-wrap > ul > li > .page-item {
  cursor: pointer;
  margin: 10px;
}
.notice-paging-wrap > ul > li > .active-page {
  font-weight: bolder;
}
.notice-paging-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.posting-sub-info{
  text-align: left;
}