.qs, .qs-content-wrap, .qs-wrap {
    border: 1px solid #ddd;
    border-top: none;
    margin: 0 auto;
    height: 878px;
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .page-title {
    text-align: center;
  }
  
  

.qs_tbl{

}