/*제품 스드메제품 보기 전체css*/
.board-list {
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  /*background-color: var(--main2);*/
  margin: 0 auto;
  align-self: center;
}
.board-list > .page-title {
  padding: 30px;
  font-size: 17px;
  justify-content: center;
}

.board-list > .page-title > ul {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
}

.board-list > .page-title > ul > li {
  padding-right: 10px;
}

.name-title :hover {
  color: #c19975;
  cursor: pointer;
}
/*페이지*/
.pageNum {
  cursor: pointer;
}
.board-paging-wrap > ul > li > .page-item {
  cursor: pointer;
  margin: 10px;
}
.board-paging-wrap > ul > li > .active-page {
  font-weight: bolder;
}
.board-paging-wrap > ul {
  display: flex;
  padding: 0px 47%;
}
.board-paging-wrap {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
