.convention-explain-wrap{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    /* background-color: #b4bfd4; */
    
}
.convention-explain-list{
    width: 25%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    min-width: 200px
}
.convention-explain-list span{
    margin-bottom: 5px;
}
.df-explain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.convention-explain-white{
    width: 30%;
    /* background-color: aliceblue; */
}
.convention-white-box{
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.convention-explain-gray{
    width: 30%;
    /* background-color: aliceblue; */
    
}
.convention-gray-box{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: #ccc;
}

.convention-explain-main{
    width: 30%;
    /* background-color: aliceblue; */
}
.convention-main-box{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: var(--main1);
}

.convention-layout-wrap{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.convention-layout-container{
    display: flex;
    width: 960px;
    height: 50vh;
    justify-content: center;
    margin-top: 3%;
    /* 여기 margin임 */
}

.convention-layout-wrap+.convention-preview-info-wrap{
    margin-top: 50px;
}

@media (max-width: 1199px) {
    .convention-layout-container {
        width: 800px;
        height: 45vh;
    }
    .layout-a, .layout-c {
        width: 250px;
    }
    .layout-b {
        width: 300px;
    }
}

@media (max-width: 767px) {
    .convention-layout-container {
        width: 600px;
        height: 35vh;
    }
    .layout-a, .layout-c {
        width: 180px;
    }
    .layout-b {
        width: 240px;
    }
    .convention-layout-wrap+.convention-preview-info-wrap{
        margin-top: 100px;
    }
}
@media (max-width: 500px) {
    .convention-layout-container {
        width: 400px;
        height: 25vh;
    }
    .layout-a, .layout-c {
        width: 120px;
    }
    .layout-b {
        width: 180px;
    }
    .convention-layout-wrap+.convention-preview-info-wrap{
        margin-top: 150px;
    }
}


.layout{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.layout-a, .layout-c{
    width: 300px;
    /* background-color: rgb(189, 255, 233); */
    /* flex-direction: column; */
}

.layout-b{
    width: 360px;
    /* background-color: rgb(159, 159, 255); */
}



.layout .seat2,.layout .seat3,.layout .seat6,.layout .seat7{
    margin-top: 10%;
    border-bottom: none;
}

/* .layout .seatB4,.layout .seatB5,.layout .seatB6,.layout .seatB7, */
.layout .seatB
{
    margin-bottom: 10%;
}
.layout .seatB:nth-child(n+2):not(:nth-child(4n+1)) {
    /* 스타일을 적용합니다. */
    border-left: none;
  }





.seat{
    /* width: 80px; */
    width: 23%;
    border: 1px solid black;
    /* height: 80px; */
    cursor: pointer;
    font-size: 1rem;
}
.seatA, .seatC{
    /* margin: 0px 20px; */
    margin: 0px 6%;
    /* flex-basis: calc(35% - 10px); */
}

.layout .seatB{
    /* flex-basis: calc(25% - 10px); */
}

.problem{
    background-color: #ccc;
    cursor: auto;
}

/* 업체가 부스에 있는 경우 css */
.company-exist{
    background-color: var(--main1);
}





/* 부스 구매할때 css */
.convention-seat-alert-wrap{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    /* position: absolute; */
    inset: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: auto;
}

.convention-seat-alert-wrap>.convention-seat-alert{
    width: 25%;
    /* min-width: 220px; */
    min-width: 280px;
    height: 35%;
    background-color:white;
    position: fixed;
    display: flex;
    /* justify-content: center; */
    /* flex-direction: column; */
}

.convention-seat-info-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.convention-seat-info-wrap>.convention-seat-info-title{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(12px + (20 - 14) * (100vw - 380px) / (1280 - 320));
    /* font-size: 1.2rem; */
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}

.company-personal-container{
    width: 100vw;
    height: 100vh;
    /* position: absolute; */
    inset: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: auto;
}
.company-personal-container>.company-personal{
    width: 50%;
    min-width: 330px;
    height: 60%;
    background-color: white;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    line-height: 25px;
    overflow: auto;
    text-wrap: pretty;
    padding: 10px;
    flex-wrap: wrap;
    text-align: center;
    overscroll-behavior: contain;
}

#convention-personal-btn{
    margin-top: 15px;
    width: 30%;
    height: 5%;
}

.convention-seat-info-wrap>.convention-seat-info-content{
    height: 40%;
    font-size: calc(12px + (16 - 12) * (100vw - 380px) / (1280 - 320));
    font-weight: 550;
}

.convention-seat-info-content>.convention-seat-info-code{
    height: 50%;
}
.convention-seat-info-content>.convention-seat-info-price{
    height: 50%;
}

.convention-seat-info-wrap>.convention-seat-info-personal{
    height: 20%;
}
.convention-seat-info-personal-container{

}
#personal-check{
    width: 8%;
    height: 25%;
}

.convention-seat-info-wrap>.convention-seat-info-btn{
    height: 20%;
    border-top: 1px solid #ccc;
    gap: 10px;
}
.convention-seat-info-btn>button{
    width: 40%;
    max-width: 130px;
    height: 50%;
    border-radius: 20px;
    border: none;
    background-color: var(--main1);
    color: white;
    font-size: calc(12px + (16 - 12) * (100vw - 380px) / (1280 - 320));
    font-weight: 600;
}
.convention-seat-info-btn>.cant-buy{
    background-color: #ccc;
}


#red-color{
    color: rgb(246, 67, 67);
}




/* 부스 수정 */
.convention-check-layout{
    margin-top: 10px;
    margin-bottom: 30px;
}
#convention-admin-alert-wrap{
    /* height: 30%; */
}

#convention-admin-alert-wrap .convention-seat-info-title{
    height: 15%;
    border-bottom: 1px solid #ccc;
}
#convention-admin-alert-wrap .convention-seat-info-content{
    height: 40%;
}
#wrong-price-zone .convention-seat-info-code{
    height: 40%;
}
#wrong-price-zone .convention-seat-info-wrong-price{
    height: 10%;
}
#wrong-price-zone .wrong-price{
    color: rgb(246, 67, 67);
}
#wrong-price-zone .convention-seat-info-price{
    height: 50%;
}

#convention-admin-alert-wrap .convention-seat-info-btn{
    height: 20%;
    border-top: 1px solid #ccc;
}

#convention-admin-alert-wrap .convention-seat-info-status{
    height: 25%;
    /* background-color: #ccc; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.convention-seat-info-status>.convention-seat-info-status-title{
    height: 40%;
}
.convention-seat-info-status>.convention-seat-info-status-content{
    height: 60%;
}
.status-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.convention-seat-info-price-child{
    width: 50%;
    /* height: 100%; */
    text-align: right;
    /* background-color: #bbb; */
}
#convention-admin-alert-wrap .convention-seat-info-price{
    gap: 10px;
}

.convention-seat-info-price-input{
    width: 50%;
    /* background-color: aliceblue; */
}

#seat-price{
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    width: 50%;
}

.convention-seat-info-status-title{
    /* background-color: #ccc; */
    display: flex;
    align-items: end;
}

.convention-seat-info-status-content{
    gap: 5%;
    width: 100%;
}

.convention-seat-info-status-content input{
    width: 15px;
    height: 15px;
    align-self: center;
}


/* 회원 alert */
.convention-seat-member-alert{
    width: 30%;
    max-width: 350px;
    min-width: 250px;
    height: 30%;
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.convention-seat-member-info-title{
    width: 100%;
    height: 20%;
    /* background-color: #ccc; */
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}

.convention-seat-member-info-content{
    width: 100%;
    height: 35%;
    /* background-color: antiquewhite; */
    margin-top: 10%;
}
.empty-company{
    width: 100%;
    height: 60%;
}
.convention-seat-info-company-name{
    width: 100%;
    height: 30%;
    /* background-color: aqua; */
    display: flex;
}
.convention-seat-info-company-name-left{
    width: 50%;
    height: 100%;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.convention-seat-info-company-name-right{
    width: 50%;
    height: 100%;
    /* background-color: rgb(166, 219, 219); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.convention-seat-info-company-category{
    width: 100%;
    height: 40%;
    display: flex;
    /* background-color: aquamarine; */
}

.convention-seat-info-company-category-left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.convention-seat-info-company-category-right{
    width: 50%;
    height: 100%;
    /* background-color: #ccc; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.convention-seat-member-info-link{
    width: 100%;
    height: 15%;
}
.convention-seat-member-info-link>a{
    color: var(--main1);
}

.convention-seat-member-info-btn{
    width: 100%;
    height: 20%;
    border-top: 1px solid #ccc;
}
.convention-seat-member-info-btn>button{
    width: 25%;
    height: 55%;
    border-radius: 20px;
    border: none;
    background-color: var(--main1);
    color: white;
    font-size: 1.1rem;
}

/* 이미 환불 버튼을 눌렀을때 css */
#refunding{
    background-color: #ccc;
}
.refunding{
    background-color: #ccc !important;
}
#convention-loading{
    position: absolute;
    /* bottom: -100px;
    left: 50%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}