/*예약상담css*/
.counselt-wrap {
  padding: 20px;
  border-radius: 10px;
  border: 1px var(--main1) solid;
  width: 380px;
  margin: 0 auto;
  align-self: center;
}
.counselt-wrap > .title-name {
  padding: 30px;
  text-align: center;
  font-family: ns-b;
  font-size: 20px;
  color: var(--main1);
}
.counselt-wrap > .material-icons {
  margin-right: 100%;
}

.counselt-content > .input-wrap {
  padding: 15px 30px;
  border: none;
  display: flex;
  flex-direction: column;
  border-left: 20px;
}

.counselt-content > .input-wrap > .input-title {
  padding-right: 30px;
}

.counselt-content > .input-wrap > .input-title > label {
  text-align: left;
  font-size: 17px;
  color: var(--main1);
  font-family: ns-b;
}

.counselt-content > .input-wrap > .input-item {
  text-align: left;
}
.counselt-content > .input-wrap > .input-item > input {
  font-size: 16px;
  font-family: ns-b;
  padding: 8px 0px;
  width: 300px;
  border: 1px var(--main1) solid;
  border-radius: 5px;
}

.counselt-content > .input-date {
  padding: 15px 30px;
  border: none;
  display: flex;
}

.counselt-content > .input-date > .input-title > label {
  font-size: 17px;
  color: var(--main1);
  font-family: ns-b;
}
.counselt-content > .input-date > .input-item > input {
  font-size: 16px;
  font-family: ns-b;
  padding: 8px 0px;
  border: 1px var(--main1) solid;
  border-radius: 5px;
}

.input-item > input[type="checkbox"] {
  width: 40px;
  height: 40px;
}

.counselt-content > .input-wrap > .input-item > textarea {
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  margin-left: 0;
  width: 270px;
  height: 100px;
  border: 1px var(--main1) solid;
}

.btn {
  border: 1px solid #fff;
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  font-family: ns-b;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}
.btn:hover {
  background-color: var(--main1);
  color: #fff;
  cursor: pointer;
}
